<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.jsinc.mybatis.Attendance">
	<select id="listAll" resultType="dto_att">
		select * from jsinc_attendance where empNo=#{user}
	</select>

	<insert id="input" parameterType="dto_att">
		insert into jsinc_attendance values(#{empNo}, #{goWork}, #{leaveWork}, #{workTime})
	</insert>
</mapper>
