<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jsinc.mybatis.message">
	<!-- 보낸 메세지 저장 -->
	<insert id="sendMsg" parameterType="dto_msg">
		insert into jsinc_sendMsg (senderEmpNo,recEmpNo,receiver,recRank,recDep,subject,content,sentTime)
		values(#{senderEmpNo},#{recEmpNo},#{receiver},#{recRank},#{recDep},#{subject},#{content},#{sentTime})
	</insert>
	<!-- 받은 메세지 저장 -->
	<insert id="recMsg" parameterType="dto_msg">
		insert into jsinc_recMsg (recEmpNo,senderEmpNo,sender,senderRank,senderDep,subject,content,sentTime)
		values(#{recEmpNo},#{senderEmpNo},#{sender},#{senderRank},#{senderDep},#{subject},#{content},#{sentTime})
	</insert>

	<!-- 해당 유저의 보낸메세지를 가져옴 -->
	<select id="sentView" resultType="dto_msg">
		select * from jsinc_sendMsg where senderEmpNo=#{empNo} order by sentTime desc
	</select>

	<!-- 받은 메세지를 가져옴 -->
	<select id="recView" resultType="dto_msg">
		select * from jsinc_recMsg where recEmpNo=#{recEmpNo}
	</select>

<!-- 보낸 메세지 삭제 -->
<delete id="sentMsgDel" parameterType="dto_msg">
	delete from jsinc_sendMsg where recEmpNo=#{recEmpNo} and subject=#{subject} 
	and sentTime=#{sentTime} and senderEmpNo=#{senderEmpNo}
</delete>
<!-- 받은 메세지 삭제 -->
<delete id="recMsgDel" parameterType="dto_msg">
	delete from jsinc_recMsg where recEmpNo=#{recEmpNo} and subject=#{subject} 
	and sentTime=#{sentTime} and senderEmpNo=#{senderEmpNo}
</delete>
<!-- 메세지 알림 -->
<select id="msgAlarm" resultType="int">
 	select count(*) from jsinc_recmsg where msgChk='N' and recEmpNo=#{empNo}
</select>
<!-- 메세지 알림 체크 Y -->
<update id="msgChk" parameterType="dto_msg">
	update jsinc_recMsg set msgChk='Y' where recEmpNo=#{recEmpNo} and senderEmpNo=#{senderEmpNo} and subject=#{subject} and sentTime=#{sentTime}
</update>
<!-- 읽지 않은 메세지 -->
<select id="recentMsg" resultType="dto_msg">
	select * from jsinc_recMsg where recEmpNo=#{empNo} and msgChk='N' order by sentTime desc
</select>

</mapper>
