<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.jsinc.mybatis.Sign">
 	<select id="lists" resultType="dto_sign">
		select
			bno,
			title,
			signs,
			target,
			writer,
			department,
			regdate,
			checksign
		from
			jsinc_sign
		where 
			checksign = '대기' and target = #{target}
	</select>
	<select id="waitList" resultType="dto_sign">
		select
			bno,
			title,
			signs,
			writer,
			regdate,
			department,
			target,
			checksign
		from
			jsinc_sign
		where
			empno = #{empno} and checksign='대기'
			
	</select>
	<select id="successList" resultType="dto_sign">
		select
			bno,
			title,
			signs,
			writer,
			target,
			department,
			regdate,
			checksign
		from
			jsinc_sign
		where
			checksign = '승인' or checksign = '반려'
		
	</select>
	<insert id="insert" parameterType="dto_sign">
		insert into jsinc_sign(bno,title,department,writer,target,content,empno,worklocation,outwork,startDT,endDT,signs)
		values((select nvl(max(bno)+1,1)from jsinc_sign),#{title},#{department},#{writer},#{target},#{content},#{empno},#{worklocation},#{outwork},#{startDT},#{endDT},#{signs})
	</insert>
	<select id="read" resultType="com.jsinc.jsincDTO.SignDTO">
		select * from jsinc_sign where bno = #{bno}
	</select>
	<delete id="delete">
		delete from jsinc_sign where bno = #{bno}
	</delete>
	<update id="chkSign" parameterType="dto_sign">
		update jsinc_sign set
			checksign = #{checksign}
		where
			bno = #{bno}
	</update>
 </mapper>
